<% content_for(:page_title, 'Technical Glossary') %>

<div class="page-title-with-border add-big-bottom-margin">
  <h1>
    Technical Glossary
  </h1>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <%
        # Generate the following list with JavaScript
        # $('h3[id]').each(function() { console.log("<li><a href=\"#" + this.id + "\">" + $(this).text() + "</a></li>"); });
    %>
    <ul class="list-unstyled glossary-list">
      <li><a href="#aka">AKA domain</a></li>
      <li><a href="#archive">Archive</a></li>
      <li><a href="#cname">CNAME Record</a></li>
      <li><a href="#dns">DNS</a></li>
      <li><a href="#domain">Domain</a></li>
      <li><a href="#furl">Friendly URLs (FURLs)</a></li>
      <li><a href="#global-archive">Global archive</a></li>
      <li><a href="#global-redirect">Global redirect</a></li>
      <li><a href="#hits">Hits</a></li>
      <li><a href="#host">Host, Hostname</a></li>
      <li><a href="#a-record">A Record/IP Address</a></li>
      <li><a href="#mapping">Mapping</a></li>
      <li><a href="#partial">Partial transition, Partial domain</a></li>
      <li><a href="#path">Path</a></li>
      <li><a href="#protocol">Protocol</a></li>
      <li><a href="#query-parameters">Query parameters</a></li>
      <li><a href="#redirect">Redirect</a></li>
      <li><a href="#site">Site</a></li>
      <li><a href="#status-codes">(HTTP) Status codes</a></li>
      <li><a href="#subdomain">Subdomain</a></li>
      <li><a href="#tna">The National Archives (TNA)</a></li>
      <li><a href="#tna-timestamp">TNA Timestamp</a></li>
      <li><a href="#ttl">Time to live (TTL)</a></li>
      <li><a href="#url">URL</a></li>
      <li><a href="#301">301</a></li>
      <li><a href="#410">410</a></li>
      <li><a href="#404">404</a></li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 glossary">

    <h3 id="aka">AKA domain</h3>
    <p>An AKA domain creates a parallel version of a site (or domain) for our redirection software. This allows us to preview redirects before going live.</p>

    <h3 id="archive">Archive</h3>
    <p>An old URL that does not meet a user need. To users it shows a standard GOV.UK page with the option of viewing the old page on the National Archives or going to the organisation’s new GOV.UK homepage.
    </p>
    <h4>Example</h4>
    <%= link_to @example_archive.old_url, @example_archive.old_url %></p>

    <h3 id="cname">CNAME Record</h3>
    <p>Using a <code>CNAME</code> DNS record is one of the two ways of pointing a domain name at a server that hosts a website.</p>
    <h4>Example</h4>
    www.gov.uk has a CNAME record that points at www-gov-uk.map.fastly.net

    <h3 id="dns">DNS</h3>
    <p>The Domain Name System (DNS) connects domain names (eg www.gov.uk) with a server address.</p>
    <p>The switchover happens when the DNS entries for your site are changed to point at our servers, enabling our servers to redirect or show archive pages.</p>

    <h3 id="domain">Domain</h3>
    <p>A domain name (eg www.gov.uk) is used to reach a site. One or more domains can be used for a single site. Sub-domains are domains in their own right.</p>

    <h3 id="furl">Friendly URLs (FURLs)</h3>
    <p>A customised URL designed to be easily memorable to direct people at a specific page with a simple title, eg gov.uk/taxdisc.</p>
    <p>These are not picked up in log files or analytics so we need to know about these in advance.</p>

    <h3 id="global-archive">Global archive</h3>
    <p>All pages on a site are <a href="#archive">archived</a>.</p>

    <h3 id="global-redirect">Global redirect</h3>
    <p>All pages on a site are <a href="#redirect">redirected</a> to the same URL.</p>

    <h3 id="hits">Hits</h3>
    <p>Requests for a URL or document. This includes pages, images and file downloads.</p>

    <h3 id="host">Host, Hostname</h3>
    <p>In this context, a host or hostname is the same as a domain name.</p>

    <h3 id="a-record">A Record/IP Address</h3>
    <p>Using an <code>A</code> DNS record is one of the two ways of pointing a domain name at a server that hosts a website.</p>
    <h4>Example</h4>
    google.com has an A record that points at the IP address 62.253.3.88

    <h3 id="mapping">Mapping</h3>
    <p>A mapping is the relationship between an old URL and either a new URL or the decision to present an archive page to the user.</p>

    <h3 id="partial">Partial transition, Partial domain</h3>
    <p>In some situations it isn’t possible to switch an entire site over at once. This can happen in several situations:</p>
    <ul>
      <li>multiple organisations share a site</li>
      <li>some content on a site needs to remain available at that site</li>
    </ul>

    <h3 id="path">Path</h3>
    <p>The part of a URL immediately following the domain name. In the URL:<br /><code>https://www.gov.uk/government/organisations</code><br />the path is: <code>/government/organisations</code></p>

    <h3 id="protocol">Protocol</h3>
    <p>The first part of a URL, either <code>http</code> or <code>https</code>. All redirects and links to GOV.UK must use https.</p>

    <h3 id="query-parameters">Query parameters</h3>
    <p>The part of a URL written to be read by a computer. In the URL:<br /><code>https://www.gov.uk/?search=jobs&amp;type=1</code> the query parameters are: <code>search</code> and <code>type</code>.</p>

    <h4>Significant query parameters</h4>
    <p>In order to reduce the number of mappings for you to write and maintain, we identify the significant query parameters in use on your site, which lets us deduplicate many URLs. A query parameter is significant if changing it means a user sees different content.</p>

    <h3 id="redirect">Redirect</h3>
    <p>A redirect means automatically taking a user from the old URL they requested to the new one identified in the mapping. For example <code>http://www.bis.gov.uk</code> redirects to <code class="breakable">https://www.gov.uk/government/organisations/department-for-business-innovation-skills</code>
</p>
    <h4>Example</h4>
    <%= link_to @example_redirect.old_url, @example_redirect.old_url %><br />
    <span class="text-muted">redirects to</span>
    <%= link_to @example_redirect.new_url, @example_redirect.new_url %>

    <h3 id="site">Site</h3>
    <p>Usually the smallest unit of transition. Note that one or more domains can be used for a single site, often for historical reasons.</p>

    <p>An example site is: <%= link_to @example_site.default_host.hostname, site_path(@example_site) %></p>

    <h3 id="status-codes">(HTTP) Status codes</h3>
    <p>Examples of HTTP Status Codes are: 404, 410, 301, 200 and 502. In transition there are a few which are important. 301 is used for a redirect, 410 is used for archive, and 404 means that there isn’t a mapping for the old URL yet.</p>

    <table class="table table-bordered add-top-margin">
      <thead>
        <tr class="table-header">
          <th>Status&nbsp;code</th>
          <th>Meaning in Transition</th>
        </tr>
      </thead>
      <tbody>
        <tr id="301">
          <td class="mapping-type-redirect">301</td>
          <td><a href="#redirect">Redirect</a></td>
        </tr>
        <tr id="410">
          <td class="mapping-type-archive">410</td>
          <td><a href="#archive">Archive</a></td>
        </tr>
        <tr id="404">
          <td class="mapping-type-error">404</td>
          <td>Not found, labelled red. If this is returned after switchover it means there is a missing mapping.</td>
        </tr>
      </tbody>
    </table>

    <h3 id="subdomain">Subdomain</h3>
    <p>Subdomains are domain names which have a parent domain name. For example: en.wikipedia.org and www.wikipedia.org are different subdomains of their parent domain wikipedia.org.</p>

    <h3 id="tna">The National Archives (TNA)</h3>
    <p>The National Archives is the government organisation responsible for creating archives of UK government websites to maintain the public record in the digital age. The Transition app provides users with a link to TNA to view archived pages on transitioned sites.</p>
    <p><a href="http://webarchive.nationalarchives.gov.uk/">Web Archive homepage</a></p>

    <h3 id="tna-timestamp">TNA Timestamp</h3>
    <p>The National Archives Web Archive will produce snapshots (or “crawl”) of a given website, which are labelled with timestamps, for example <code>20100202072553</code> is for a snapshot taken on the 2 February 2010 at 7:25am.</p>

    <h3 id="ttl">Time to live (TTL)</h3>
    <p>The number of seconds for which a <a href="#dns">DNS</a> record can be cached by your computer. For example, before being checked with a DNS server. We ask for the TTL for your sites to be lowered to 5 minutes before switchover so that there is a clean cut-over — rather than different users getting the old or new site until the change has propagated. Commonly TTLs can be set to a day, which would lead to poor user experience as they would see the old or new site unpredictably.</p>

    <h3 id="url">URL</h3>
    <p>A URL is how a web browser requests pages, images and other data from a website.</p>
  </div>
</div>
