<% if @organisation.parent_organisations.present? && @organisation.whitehall_type.present? %>
  <p class="subtitle">
    <%= relationship_display_name(@organisation) %>
    <%= links_to_all_parents(@organisation).html_safe %>
  </p>
<% end %>
