<% if @organisation.parent.present? && @organisation.whitehall_type.present? %>
  <p class="subtitle">
    <%= relationship_display_name(@organisation) %>
    <%= link_to @organisation.parent.title, organisation_path(@organisation.parent) %>
  </p>
<% end %>
