<% content_for :page_title, 'Organisations' %>

<h1>Organisations</h1>

<table class="organisations table table-bordered">
  <thead>
  <tr>
    <th>Organisation</th>
    <th>Launch date</th>
  </tr>
  </thead>

  <tbody>
  <% @organisations.each do |org| %>
      <tr>
        <td>
          <%= link_to org.title, organisation_path(org) %>
        </td>
        <td>
          <%= date_or_not_yet(org.launch_date) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
