<%
   count = count.to_f
   max = max.to_f
%>
<% style_rows = %( style="width: #{count / max * 100}%").html_safe %>
<div class="bar-chart-row bar-chart-row-<%= status %>"<%= style_rows if first_page? %>></div>

