<%
   count = count.to_f
   max = max.to_f
%>
<% width = params[:page] && params[:page].to_i > 1 ? '3px' : "#{count / max * 100}%" %>
<div class="bar-chart-row bar-chart-row-<%= status %>" style="width: <%= width %>;"></div>
