<script src="https://www.gstatic.com/charts/loader.js"></script>
<div class="hits-graph js-hits-graph" aria-hidden="true"></div>
<script>
  GOVUK.Hits.plot(<%= google_data_table(point_categories, @site) %>, <%= colors(point_categories) %>);
</script>
