<script src="https://www.google.com/jsapi"></script>
<div class="hits-graph js-hits-graph" aria-hidden="true"></div>
<script>
  GOVUK.Hits.plot(<%= google_data_table(point_categories) %>, <%= colors(point_categories) %>);
</script>
