<% content_for :page_title, "#{@site.abbr} hits" %>
<%= breadcrumb(@hits) %>

<h1 class="page-header"><%= "#{@site.abbr} hits" %></h1>

<% if @hits.any? %>
    <%= render partial: 'hits', locals: { hits: @hits } %>
<% else %>
    <p>No hits.</p>
<% end %>
