<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% model.errors.full_messages.each do |full_error_message| %>
        <li><%= full_error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
