<% if model.errors.any? %>
  <div class="alert alert-danger">
    <% if model.errors.size == 1 %>
      <% model.errors.full_messages.each do |full_error_message| %>
        <p><%= full_error_message %></p>
      <% end %>
    <% else %>
      <ul>
        <% model.errors.full_messages.each do |full_error_message| %>
          <li><%= full_error_message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
