<% if error_messages.present? %>
  <div class="alert alert-danger">
    <% if error_messages.size == 1 %>
      <% error_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% else %>
      <ul>
        <% error_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
