<div data-module="go-to">
  <div class="modal js-go-to-site-or-mapping" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">
            Go to site or mapping
          </h3>
        </header>
        <div class="modal-body">
          <%= form_tag mappings_find_global_path, method: 'get', role: 'form' do %>
            <div class="form-group">
              <%= label_tag :url, 'Old URL' %>
              <%= text_field_tag(:url, nil, class: 'form-control') %>
            </div>
            <%= button_tag 'Go to site or mapping', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
