<% content_for :page_title, 'Redirect whitelist' %>

<div class="page-title">
  <h1>
    Redirection whitelist<br/>
    <small>
      Redirects can only be created if they go to a domain included in this list.
    </small>
  </h1>
</div>

<div class="pull-right add-bottom-margin">
  <%= link_to new_admin_whitelisted_host_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-plus"></i> Add domain
  <% end %>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th>Domain</th>
      <th>Added</th>
      <th>Added by</th>
    </tr>
  </thead>
  <tbody>
    <% @whitelisted_hosts.each do |host| %>
      <tr>
        <td><%= host.hostname %></td>
        <td><%= I18n.l host.created_at, :format => :govuk_date %></td>
        <td><%= host.originator %></td>
      </tr>
    <% end %>
  </tbody>
</table>
