.history {
  h2 {
    font-size: 2em;
  }
}

.mapping-type-column {
  width: 85px;
}

.mapping-edit-column {
  width: 110px;
}

.mapping-edit-and-preview-column {
  width: 124px;
}

.mapping-hits-column {
  width: 75px;
}

.mapping-type-redirect {
  background-color: $good-HTTP-status-color;
}

.mapping-type-archive {
  background-color: $default-HTTP-status-color;
}

.mapping-type-unresolved {
  background-color: transparent;
}

.mapping-type-error {
  background-color: $bad-HTTP-status-color;
}

.preview .mapping-type-redirect {
  background-color: $good-HTTP-status-color;
}

.preview .mapping-type-archive {
  background-color: $default-HTTP-status-color;
}

.preview .mapping-type-unresolved {
  background-color: transparent;
}

.old-urls textarea {
  height: 16em;
}

.read-only-fields dt {
  margin-bottom: 5px;
}

.read-only-fields dd {
  margin-left: 0;
  margin-bottom: $default-vertical-margin;
}

.unresolved-type-icon {
  color: #bbb;
}

.unresolved-type {
  color: #aaa;
  border-bottom: 1px dotted #ccc
}
