/* ==========================================================================
   Nav compact
   ========================================================================== */

.nav-compact > li > a {
  padding: 5px 10px;
}

/* ==========================================================================
   Nav pills
   ========================================================================== */

.nav-pill-text {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-compact .nav-pill-text {
  padding: 5px 10px;
}

.nav-compact .nav-pill-text:first-child {
  padding-left: 0;
}
