/* Selectable rows
   ==========================================================================
   Fill table cell with label to make the whole cell clickable.
   This is achieved with a bit of a hack, the label is set to a height always
   guaranteed to be larger than the cell height, and the cell has its overflow
   hidden.
*/

.selectable-row {
  padding: 0 !important;
  overflow: hidden;
  width: 40px;

  tbody & {
    background-color: #ccc;
  }

  label {
    height: 300px;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
  }

  input {
    margin-top: 12px;
    cursor: pointer;
  }
}

.selectable-row-helper {
  border-bottom: 1px dotted #999;
  cursor: help;
}

/* Slightly different spacing for table headers */
.table-header-secondary .selectable-row {
  vertical-align: top;

  input {
    margin-top: 18px;
  }
}

.selected-row td,
.table-hover .selected-row:hover td {
  background-color: #fffbcc; /* yellow highlight */
}
