<%# Render a changeset hash, but only one level deep. %>

<% if version.changeset.any? %>
    <table class="changes table table-bordered table-condensed">
      <tbody>
      <% version.changeset.each_pair do |field, change| %>
          <tr>
            <td class="field-name"><%= titleize_known_abbr(field) %></td>
            <td class="old-value"><%= change.first %></td>
            <td class="new-value"><%= change.last %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
