<% content_for :page_title, 'History' %>

<%= breadcrumb(@versions.last) %>
<h1>History</h1>

<%= mapping_edit_tabs active: 'History' %>

<div class="versions">
  <%= render partial: 'mappings/versions', locals: { detailed: true } %>
</div>

<%= javascript_tag do %>
  GOVUK.Versions.ready();
<% end %>
