<% content_for(:page_title, '422') %>

<h1 class="page-title">
  <%= @custom_header || 'The change you wanted was rejected' %>
</h1>
<p><%= @custom_body || 'Maybe you tried to change something you didn\'t have access to.' %></p>
