<% content_for(:page_title, '404') %>

<h1 class="page-title">
  <%= @custom_header || 'Page could not be found' %>
</h1>
<p><%= @custom_body || 'Please check that you have entered the correct web address.' %></p>
