<% content_for(:page_title, '503') %>

<h1 class="page-title">
  <%= @custom_header || 'Temporarily unavailable' %>
</h1>
<% if @custom_body %>
  <p><%= @custom_body %></p>
<% else %>
  <p>Transition is unavailable due to scheduled maintenance</p>
  <p><a href='https://support.publishing.service.gov.uk/general_request/new'>Raise a support request through the GOV.UK Support form</a> for more information</p>
<% end %>
