<% content_for(:page_title, '404') %>

<div class="error-page">
  <h1 class="page-title">
    Page could not be found
  </h1>
  <p>Please check that you have entered the correct web address.</p>
</div>
