<nav class="filters row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <header class="panel-heading">
        <ul class="nav nav-compact nav-pills">
          <li class="if-js-hide">
            <%= link_to 'Filter mappings', filter_site_mappings_path(@site) %>
          </li>
          <li class="if-no-js-hide nav-pill-text">
            <strong>Filter by</strong>
          </li>
          <li>
            <%= link_to filter_site_mappings_path(@site), class: 'filter-option' do %>
              Path <span class="glyphicon glyphicon-chevron-down"></span>
            <% end %>
          </li>
        </ul>
      </header>
    </div>
  </div>
</nav>
