<div class="filter">
  <%= form_tag(site_mappings_path(@site), method: 'get') do %>
    <%= label_tag       :contains, 'Filter by path' %>
    <%= text_field_tag  :contains, nil, class: 'span5'  %>
    <%= submit_tag 'Filter', name: nil, class: 'btn' %>
  <% end %>
</div>
