<%= form_tag(site_mappings_path(@site), method: 'get', class: 'form-inline') do %>
  <div class="control-group">
    <%= label_tag :contains, 'Filter by path', class: 'control-label' %>
    <div class="controls">
      <div class="input-prepend input-append">
        <span class="add-on" title="Filter">
          <i class="icon-filter"></i>
        </span>
        <%= text_field_tag :contains, params[:contains], class: 'span4', placeholder: 'eg /home'  %>
        <%= submit_tag 'Filter', name: nil, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
