<div class="modal modal-saved-mappings" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-module="auto-show-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <header class="modal-header">
        <h3 class="modal-title alert alert-success">
          <span class="glyphicon glyphicon-ok text-success add-right-margin"></span> <%= message %>
        </h3>
        <a href="#close" data-dismiss="modal" class="btn btn-success btn-modal-close">OK</a>
      </header>
      <div class="modal-body remove-bottom-padding">
        <%= render partial: 'mappings_table',
          locals: {
            site: site,
            mappings: mappings
          }
        %>
      </div>
    </div>
  </div>
</div>
