<div class="modal modal-with-btn-in-title" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-module="auto-show-modal">
  <div class="modal-dialog modal-lg"
    data-module="auto-track-event"
    data-track-action="saved-mappings"
    data-track-label="<%= operation %>"
    data-track-value="<%= mappings.size %>"
  >
    <div class="modal-content">
      <header class="modal-header">
        <h3 class="modal-title alert alert-success">
          <span class="glyphicon glyphicon-ok glyphicon-alert-success"></span> <%= message %>
        </h3>
        <a href="#close" data-dismiss="modal" class="btn btn-success btn-modal-close">OK</a>
      </header>
      <div class="modal-body remove-bottom-padding">
        <%= render partial: 'mappings/mappings_table',
          locals: {
            site: site,
            mappings: mappings
          }
        %>
      </div>
    </div>
  </div>
</div>
