<li class="if-no-js-hide sort-by">
  <% sorted_by = @sorted_by_traffic ? 'Traffic' : 'Path' %>
  <%= filter_option_link(@site, sorted_by) %>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to 'Path', sort_by_path_path, class: 'inherit' %>
    </li>
    <li>
      <%= link_to 'Traffic', sort_by_traffic_path, class: 'inherit' %>
    </li>
  </ul>
</li>
