<li class="if-no-js-hide">
  <ul class="dropdown">
    <li>
      <%= link_to 'Sort by path', sort_by_path_path, class: 'inherit' %>
    </li>
    <li>
      <%= link_to 'Sort by traffic', sort_by_traffic_path, class: 'inherit' %>
    </li>
  </ul>
</li>
