<% if mapping.taggings.any? %>
  <span class="rm">Tagged with:</span>
  <ul class="tag-list remove-bottom-margin pull-right">
    <% mapping.taggings.each do |tagging| %>
      <% tag = tagging.tag.to_s %>
      <li>
        <% if @filter %>
          <% if @filter.tags.include?(tag) %>
            <span class="tag tag-active"><%= tag %></span>
          <% else %>
            <%= link_to tag, @filter.query.with_tag(tag), class: 'tag' %>
          <% end %>
        <% else %>
          <span class="tag"><%= tag %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
