<% if mapping.tags.any? %>
  <span class="rm">Tagged with:</span>
  <ul class="tag-list remove-bottom-margin pull-right">
    <% mapping.tag_list.each do |tag| %>
      <li>
        <% if @filter.by_tag?(tag) %>
          <span class="tag tag-active"><%= tag %></span>
        <% else %>
          <%= link_to tag, @filter.by_tag_query(tag), class: 'tag' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
