<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">By</th>
    <th scope="col">On</th>
    <th scope="col">Changes</th>
  </tr>
  </thead>
  <tbody>
  <% @mapping.versions.reverse.each do |version| %>
    <tr>
      <td>
        <%= anchor '[*]', version.id %>
        <%= version.whodunnit %>
      </td>
      <td>
        <%= version.created_at.strftime('%d/%m/%y %H:%M') %>
      </td>
      <td>
        <%= render partial: 'versions/changeset_table', locals: { version: version } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
