<% breadcrumb(:edit_mapping, @mapping) %>

<%= content_for :page_title, 'Edit mapping' %>
<h1 class="page-title">
  <span class="small"><%= @site.default_host.hostname %></span>
  Edit mapping
</h1>

<%= mapping_edit_tabs active: 'Edit' %>

<%= render :partial => 'form' %>

