<li class="if-no-js-hide">
  <% if @filter.new_url_contains.present? %>
    <%= filter_remove_option_link(@site, 'New URL', :new_url_contains) %>
  <% else %>
    <%= filter_option_link(@site, 'New URL') %>
    <div class="dropdown-menu dropdown-text-input" role="dialog" id="filter-by-new-url">
      <%= form_tag(site_mappings_path(site_id: @site), method: 'get', role: 'form', class: 'form') do %>
        <%= render partial: 'mappings/filter/by_new_url_field', locals: {single_filter_form: true, button_text: 'Filter'} %>
      <% end %>
    </div>
  <% end %>
</li>
