<div class="form-group">
  <%= label_tag :new_url_contains, 'New URL' %>
  <%= text_field_tag :new_url_contains, @new_url_contains, class: 'form-control', placeholder: 'eg https://www.gov.uk' %>
</div>
