<% single_filter_form ||= false %>
<div class="form-group">
  <%= label_tag :path_contains, 'Path' %>
  <% if single_filter_form %>
    <%= hidden_filter_fields_except(@filter, :path_contains) %>
    <div class="input-group">
  <% end %>
  <%= text_field_tag :path_contains, @filter.try(:path_contains), class: 'form-control', placeholder: 'eg /home' %>
  <% if single_filter_form %>
    <span class="input-group-btn">
      <%= button_tag button_text, name: nil, class: 'btn btn-default ' %>
    </span>
    </div>
  <% end %>
</div>
