@mixin border-radius($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($prop, $time: 1s) {
  -webkit-transition:$prop 1s ease-in;
  -moz-transition:$prop 1s ease-in;
  -o-transition:$prop 1s ease-in;
  transition:$prop 1s ease-in;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
