@import 'bootstrap/_variables';

$gill-sans-font-stack: "GillSans", "Gill Sans", "Helvetica Neue", Arial, sans-serif;
$default-vertical-margin: $line-height-base * $font-size-base;

// Colours
$link-color-visited       : #609; /* Purple */

$good-HTTP-status-color    : #dfd; /* Green */
$bad-HTTP-status-color     : #fdd; /* Red */
$default-HTTP-status-color : #eee; /* Grey */

// Buttons
$default-btn-height       : 30px;

$primary-button-color     : #fff; /* White */
$success-button-color     : #fff;
$info-button-color        : #fff;
$inverse-button-color     : #fff;
$danger-button-color      : #fff;
$warning-button-color     : #fff;
$default-button-color     : #333; /* Dark grey */
