/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Hacks to work around govuk_admin_template
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* ==========================================================================
   Fonts
   ========================================================================== */

$font-family-gill-sans: "GillSans", "Gill Sans MT", "Gill Sans", "Helvetica Neue", Arial, sans-serif;

/* ==========================================================================
   Margins
   ========================================================================== */

$default-vertical-margin:   $line-height-computed;
$default-vertical-padding:  $default-vertical-margin;
$default-horizontal-margin: $grid-gutter-width / 3;

// Simulate bootstrap labels spacing (no built-in variable for this)
$default-label-margin:      5px;

/* ==========================================================================
   Colours
   ========================================================================== */

$link-color-visited       : #609; /* Purple */

// From https://www.gov.uk/service-manual/user-centered-design/resources/colour-palettes
$turquoise                : #28a197;
$orange                   : #f47738;

/* ==========================================================================
   Buttons
   ========================================================================== */

$default-btn-height       : 30px;

$primary-button-color     : #fff; /* White */
$success-button-color     : #fff;
$info-button-color        : #fff;
$inverse-button-color     : #fff;
$danger-button-color      : #fff;
$warning-button-color     : #fff;
$default-button-color     : #333; /* Dark grey */

/* ==========================================================================
   Environments
   ========================================================================== */

$production-color: #df3034; /* Red */
$integration-color:#ffbf47; /* Orange */
$dev-color:        #bfc1c3; /* Grey */

// @import "govuk_admin_template";
@import "select2";
@import "select2-bootstrap"; // https://github.com/fk/select2-bootstrap-css
@import "mixins";
@import "transition_theme";

// Components
@import "breadcrumb";
@import "pagination";
@import "filters";
@import "forms";
@import "nav";
@import "selectable-table";
@import "tags";
@import "validation_errors";
@import "modal_with_button_in_title";
@import "modal_background_batch";

// Page types
@import "hits";
@import "mappings";
@import "organisations";
@import "style";
@import "versions";
@import "glossary";
