/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "govuk_publishing_components/all_components";
@import "accessible-autocomplete.min.css";

.extra-organisations {
  height: 150px;
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}

.autocomplete__input:focus,
.autocomplete__input--focused {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: $govuk-border-width-form-element;
  box-shadow: $govuk-input-border-colour 0 0 0 $govuk-border-width-form-element;
}
