@import 'bootstrap/_variables';
@import '_theme';

/* ==========================================================================
   Base
   ========================================================================== */

footer {
  clear: left;
  padding-top: 2em;
}

label {
  font-weight: bold;
}

/* ==========================================================================
   Toggle content
   ========================================================================== */

.hide {
  display: none;
}

// Hide JavaScript content when JavaScript disabled
.no-js .if-no-js-hide {
  @extend .hide;
}

// Hide JavaScript fallback content when JavaScript enabled
.js .if-js-hide {
  @extend .hide;
}

// Hide visually, but keep available for screenreaders, by Jon Neal
// www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  &  h5bp.com/v
.rm {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

// Hide visually when JavaScript enabled
.js .if-js-rm {
  @extend .rm;
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

/* Margin helpers
   ========================================================================== */

.add-vertical-margins {
  margin-top: $line-height-base !important;
  margin-bottom: $line-height-base !important;
}

.add-top-margin {
  margin-top: $line-height-base !important;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.add-bottom-margin {
  margin-bottom: $line-height-base !important;
}

.add-big-bottom-margin {
  margin-bottom: $line-height-base * 2 !important;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.add-right-margin {
  margin-right: $grid-gutter-width / 2 !important;
}

/* Padding helpers
   ========================================================================== */

.remove-padding {
  padding: 0 !important;
}

/* ==========================================================================
   Bootstrap link overrides
   ========================================================================== */

main a {
  &:visited {
    color: $link-color-visited;
  }

  // Don't give visited links that are buttons
  // the visited link colour

  &.btn:visited {
    color: $default-button-color;
  }

  &.btn-primary:visited {
    color: $primary-button-color;
  }

  &.btn-info:visited {
    color: $info-button-color;
  }

  &.btn-success:visited {
    color: $success-button-color;
  }

  &.btn-warning:visited {
    color: $warning-button-color;
  }

  &.btn-danger:visited {
    color: $danger-button-color;
  }

  &.btn-inverse:visited {
    color: $inverse-button-color;
  }
}

.muted-link,
.muted-link:visited {
  color: $gray-light;
  text-decoration: underline;
}

// Force long URLs to break
.breakable {
  word-break: break-all;
  display: inline-block;
}

/* ==========================================================================
   Page headers
   ========================================================================== */

.page-title {
  padding-bottom: 9px;
  margin: 20px 0 10px;
}

.page-title .small {
  font-size: 65%;
  font-weight: normal;
  line-height: 1.5;
  color: $gray-light;
  display: block;
}

.page-title-with-border {
  @extend .page-title;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

/* ==========================================================================
   Tables
   ========================================================================== */

.table-header {
  background-color: $gray-lighter;
}

.table-header-secondary {
  background-color: $table-bg-accent;
  font-weight: bold;
}

thead .table-header-secondary td {
  border-bottom: 1px solid #ccc;
}

.radio.table-header-radio {
  padding-top: 0;
}

/* Selectable rows
   ==========================================================================
   Fill table cell with label to make the whole cell clickable.
   This is achieved with a bit of a hack, the label is set to a height always
   guaranteed to be larger than the cell height, and the cell has its overflow
   hidden.
*/

.selectable-row {
  padding: 0 !important;
  overflow: hidden;
  width: 40px;

  label {
    height: 300px;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
  }

  input {
    margin-top: 12px;
  }
}

/* Slightly different spacing for table headers */
.table-header-secondary .selectable-row {
  vertical-align: top;

  input {
    margin-top: 18px;
  }
}

.selected-row td,
.table-hover .selected-row:hover td {
  background-color: #fffbcc; /* yellow highlight */
}

/* ==========================================================================
   Common content patterns
   ========================================================================== */

.subtitle {
  margin: -$line-height-base 0 $line-height-base;
  font-size: $font-size-large;
}

.no-content {
  color: lighten($gray-light, 20%); // Large text needs a lighter colour for balance
  font-size: $font-size-base * 2;
  line-height: $line-height-base * 2;
  text-align: center;
  padding: ($line-height-base * 4) 0;
}

.no-content-bordered {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
}

