@import 'bootstrap/_variables';
@import '_theme';

/* ==========================================================================
   Base
   ========================================================================== */

footer {
  clear: left;
  padding-top: 2em;
}

label {
  font-weight: bold;
}

/* ==========================================================================
   Toggle content
   ========================================================================== */

.hide {
  display: none;
}

// Hide JavaScript content when JavaScript disabled
.no-js .if-no-js-hide {
  @extend .hide;
}

// Hide JavaScript fallback content when JavaScript enabled
.js .if-js-hide {
  @extend .hide;
}

// Hide visually, but keep available for screenreaders, by Jon Neal
// www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  &  h5bp.com/v
.rm {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

// Hide visually when JavaScript enabled
.js .if-js-rm {
  @extend .rm;
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.relative {
  position: relative;
}

/* Margin helpers
   ========================================================================== */

.add-vertical-margins {
  margin-top: $baseLineHeight !important;
  margin-bottom: $baseLineHeight !important;
}

.add-top-margin {
  margin-top: $baseLineHeight !important;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.add-bottom-margin {
  margin-bottom: $baseLineHeight !important;
}

.add-big-bottom-margin {
  margin-bottom: $baseLineHeight * 2 !important;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

/* ==========================================================================
   Bootstrap link overrides
   ========================================================================== */

main a {
  &:visited {
    color: $linkColorVisited;
  }

  // Don't give visited links that are buttons
  // the visited link colour

  &.btn:visited {
    color: $defaultButtonColor;
  }

  &.btn-primary:visited {
    color: $primaryButtonColor;
  }

  &.btn-info:visited {
    color: $infoButtonColor;
  }

  &.btn-success:visited {
    color: $successButtonColor;
  }

  &.btn-warning:visited {
    color: $warningButtonColor;
  }

  &.btn-danger:visited {
    color: $dangerButtonColor;
  }

  &.btn-inverse:visited {
    color: $inverseButtonColor;
  }
}

.muted-link,
.muted-link:visited {
  color: $grayLight;
  text-decoration: underline;
}

// Force long URLs to break
.breakable {
  word-break: break-all;
  display: inline-block;
}

/* ==========================================================================
   Page headers
   ========================================================================== */

.page-title {
  padding-bottom: 9px;
  margin: 20px 0 10px;
}

.page-title .small {
  font-size: 65%;
  font-weight: normal;
  line-height: 1.5;
  color: $grayLight;
  display: block;
}

.page-title-with-border {
  @extend .page-title;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

/* ==========================================================================
   Table headers
   ========================================================================== */

.table-header {
  background-color: $grayLighter;
}

.table-header-secondary {
  background-color: $tableBackgroundAccent;
}

.table-header-secondary th {
  border-bottom: 1px solid #ccc;
}

/* ==========================================================================
   Common content patterns
   ========================================================================== */

.subtitle {
  margin: -$baseLineHeight 0 $baseLineHeight;
  font-size: $fontSizeLarge;
}

.no-content {
  color: lighten($grayLight, 20%); // Large text needs a lighter colour for balance
  font-size: $baseFontSize * 2;
  line-height: $baseLineHeight * 2;
  text-align: center;
  padding: ($baseLineHeight * 4) 0;
}

.no-content-bordered {
  border: 1px solid $tableBorder;
  border-radius: $baseBorderRadius;
}

