@import 'bootstrap/_variables';
@import '_theme';

/* Base styles */
body {
  background-color: #fff;
  color: #333;
}

body,
p,
ol,
ul,
td,
label {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

footer {
  clear: left;
  padding-top: 2em;
}

/* Tool belt */

.add-vertical-margins,
.add-top-margin {
  margin-top: $baseLineHeight;
}

.remove-top-margin {
  margin-bottom: 0;
}

.add-vertical-margins,
.add-bottom-margin {
  margin-bottom: $baseLineHeight;
}

.add-big-bottom-margin {
  margin-bottom: $baseLineHeight *2;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

main a {
  &:visited {
    color: $linkColorVisited;
  }

  // Don't give visited links that are buttons
  // the visited link colour

  &.btn:visited {
    color: $defaultButtonColor;
  }

  &.btn-primary:visited {
    color: $primaryButtonColor;
  }

  &.btn-info:visited {
    color: $infoButtonColor;
  }

  &.btn-success:visited {
    color: $successButtonColor;
  }

  &.btn-warning:visited {
    color: $warningButtonColor;
  }

  &.btn-danger:visited {
    color: $dangerButtonColor;
  }

  &.btn-inverse:visited {
    color: $inverseButtonColor;
  }
}

// Extend Bootstrap header styles

.page-title {
  padding-bottom: 9px;
  margin: 20px 0 10px;
}

.page-title .small {
  font-size: 65%;
  font-weight: normal;
  line-height: 1.5;
  color: $grayLight;
  display: block;
}

.page-title-with-border {
  @extend .page-title;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.subtitle {
  margin: -$baseLineHeight 0 $baseLineHeight;
  font-size: $fontSizeLarge;
}

.no-content {
  color: lighten($grayLight, 20%); // Large text needs a lighter colour for balance
  font-size: $baseFontSize * 2;
  line-height: $baseLineHeight * 2;
  text-align: center;
  padding: ($baseLineHeight * 4) 0;
}

.no-content-bordered {
  border: 1px solid $tableBorder;
  border-radius: $baseBorderRadius;
}

