.filters {
  // @include remove-bottom-margin;
  // @include add-top-margin;

  .panel-heading {
    background: transparent;
  }

  .active-filter {
    // @include add-bottom-margin;

    &:last-child {
      // @include remove-bottom-margin;
    }
  }

  .alert {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
  }
}

a.filter-option,
a.filter-option:visited,
.filter-option {
  color: inherit !important;

  .glyphicon {
    // @extend %glyphicon-smaller-than-text;
  }

  &.filter-selected {
    font-weight: bold;
    background: #eee;

    &:hover,
    &:focus,
    &:active {
      background: #ddd;
    }
  }

  .selected-and-available & {
    float: left;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:first-child + .filter-option {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 1px solid #ddd;
    }
  }
}

.dropdown-text-input {
  width: 600px;
  padding: $default-vertical-margin/2 $grid-gutter-width/2;
}

.remove-filters {
  float: right;
  margin: 5px;
}
