.filters {
  @extend %remove-bottom-margin;
  @extend %add-top-margin;

  .panel-heading {
    background: transparent;
  }

}

a.filter-option,
a.filter-option:visited,
.filter-option {
  color: inherit;

  .glyphicon {
      @extend %glyphicon-smaller-than-text;
  }

  &.filter-selected {
    font-weight: bold;
    background: #eee;
  }

}

.dropdown-text-input {
  width: 600px;
  padding: $default-vertical-margin/2 $grid-gutter-width/2;
}
