@import 'bootstrap/_variables';
@import 'mixins';
@import 'theme';

.date-range {
  margin-left: 10px;
  font-weight: normal;
}

.hits {
  table-layout: fixed;
}

.hits td {
  overflow: hidden;
}

.hits .remove-padding {
  padding: 0;
}

.bar-chart-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.bar-chart-row {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  
  background-color: $defaultHTTPStatusColor;
  
  min-width: 3px;
  min-height: 40px;
}

.bar-chart-row-301 {
  background-color: $goodHTTPStatusColor;
}

.bar-chart-row-500,
.bar-chart-row-404 {
  background-color: $badHTTPStatusColor;
}


.status {
  width: $gridColumnWidth;
  @include box-sizing();
}

.count {
  width: $gridColumnWidth * 2;
  @include box-sizing();
}

.action {
  width: 110px;
  @include box-sizing();
}

.path {
  word-wrap: break-word;
  display: inline-block;
  margin: 8px;
  
  position: relative;
  z-index: 1;
}

.js-enabled .hits-graph {
  margin: 48px 0;
  height: 300px;

  path, circle {
    cursor: pointer;
  }
}
