.hits-time-period {
  .navbar-brand:hover {
    text-decoration: none;
    color: $navbar-default-color;
  }

  // Reset default h2 styles
  .navbar-header {
    margin: 0;
    font-weight: normal;
  }
}

.hit-details {
  text-indent: 10px;
  @extend .text-muted;
}

.hits {
  table-layout: fixed;
}

.hits td {
  overflow: hidden;
}

.middle-grey {
  color: #666;
}

.bar-chart-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.bar-chart-row {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: $default-HTTP-status-color;

  min-width: 3px;
  min-height: 40px;
}

.bar-chart-row-301 {
  background-color: $good-HTTP-status-color;
}

.bar-chart-row-500,
.bar-chart-row-404 {
  background-color: $bad-HTTP-status-color;
}


.status {
  width: 60px;
  @include box-sizing();
}

.count {
  width: 120px;
  @include box-sizing();
}

.action {
  width: 110px;
  @include box-sizing();
}

.path {
  display: inline-block;
  margin: 8px;

  position: relative;
  z-index: 1;
}

.js .hits-graph {
  height: 300px;

  path, circle {
    cursor: pointer;
  }
}
