@import 'bootstrap/_variables';

.history {
  h2 {
    font-size: 2em;
  }
}

.redirects-to {
  color: $grayLight;
  font-style: italic;
}

.redirects-to-link,
.redirects-to-link:visited {
  color: $grayLight;
  text-decoration: underline;
}
