.history {
  h2 {
    font-size: 2em;
  }
}

.mapping-type-column {
  width: 75px;
}

.mapping-edit-column {
  width: 100px;
}

.mapping-type-redirect {
  background-color: $good-HTTP-status-color;
}

.mapping-type-archive {
  background-color: $default-HTTP-status-color;
}

.mapping-type-error {
  background-color: $bad-HTTP-status-color;
}

.old-urls textarea {
  height: 16em;
}

.read-only-fields dt {
  margin-bottom: 5px;
}

.read-only-fields dd {
  margin-left: 0;
  margin-bottom: $default-vertical-margin;
}
