@import 'bootstrap/_variables';
@import 'theme';

.history {
  h2 {
    font-size: 2em;
  }
}

.mapping-type-redirect {
  background-color: $goodHTTPStatusColor;
}

.mapping-type-archive {
  background-color: $defaultHTTPStatusColor;
}
