@import 'bootstrap/_variables';
@import 'theme';

.history {
  h2 {
    font-size: 2em;
  }
}

.mapping-type-redirect {
  background-color: $good-HTTP-status-color;
}

.mapping-type-archive {
  background-color: $default-HTTP-status-color;
}

.read-only-fields dt {
  margin-bottom: 5px;
}

.read-only-fields dd {
  margin-left: 0;
  margin-bottom: $default-vertical-margin;
}
