.modal-background-batch {
  .progress-container {
    // @extend %large-and-spaced;
    padding: $default-vertical-margin 0 $default-vertical-margin * 2;
  }

  .progress-container.alert {
    padding-top: $default-vertical-margin * 2;
  }

  .progress-spinner {
    margin-top: -4px;
  }

  .glyphicon-ok {
    display: none;
  }

  .alert-success .glyphicon-ok {
    display: inline;
  }

  .progress {
    margin-left: 40px;
    margin-right: 40px;
  }

  // Bar starts at 0 width until overwritten with inline values
  .progress-bar {
    width: 0;
  }
}
