.modal-saved-mappings {
  .modal-title {
    padding-right: 75px;
  }

  .modal-title .glyphicon-ok {
    font-size: 80%;
  }

  .btn-modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
