@import '_colours';
@import 'bootstrap/_variables';

/* Base styles */
body {
  background-color: #fff;
  color: #333;
}

body,
p,
ol,
ul,
td,
label {
  font-size: 13px;
  line-height: 18px;
}

h1,
h2,
h3 {
  font-family: nta, Arial, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

footer {
  clear: left;
  padding-top: 2em;
}

.add-top-margin {
  margin-bottom: $baseLineHeight;
}

.remove-top-margin {
  margin-bottom: 0;
}

.add-bottom-margin {
  margin-bottom: $baseLineHeight;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.content a {
  &:visited {
    color: $linkColorVisited;
  }

  // Don't give visited links that are buttons
  // the visited link colour

  &.btn:visited {
    color: $defaultButtonColor;
  }

  &.btn-primary:visited {
    color: $primaryButtonColor;
  }

  &.btn-info:visited {
    color: $infoButtonColor;
  }

  &.btn-success:visited {
    color: $successButtonColor;
  }

  &.btn-warning:visited {
    color: $warningButtonColor;
  }

  &.btn-danger:visited {
    color: $dangerButtonColor;
  }

  &.btn-inverse:visited {
    color: $inverseButtonColor;
  }
}
