/* Tags
   ========================================================================== */

$tag-padding-top-bottom: (2em/14);
$tag-padding-left-right: (5em/14);

%tag-foundation {
  color: $link-color;
  border-radius: $border-radius-base;
  border: 1px solid $link-color;
  text-transform: lowercase;
}

.tag {
  @extend %tag-foundation;
  padding: $tag-padding-top-bottom $tag-padding-left-right;
  display: inline-block;
  margin-bottom: $default-vertical-margin / 3;
}

.tag-active,
a.tag:focus,
a.tag:hover {
  background: $link-color;
  color: #fff;
  text-decoration: none;
}

.tag:visited {
  color: $link-color;
}

.tag .glyphicon-remove {
  // @extend %glyphicon-smaller-than-text;
  position: relative;
  top: (1em/14);
}

.tag-list {
  padding: 0;
  list-style-type: none;
}

.tag-list li {
  display: inline;
}

/* Select2 tag overrides
   ========================================================================== */

.select2-container .select2-choices .select2-search-choice {
  @extend %tag-foundation;
}

.select2-container .select2-choices .select2-search-choice-close {
  @extend .glyphicon;
  @extend .glyphicon-remove;
  // @extend %glyphicon-smaller-than-text;
  background-image: none;
  position: absolute;
  top: 11px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:visited {
    color: $link-color;
  }
}

// Align text-input more cleanly with existing tags
.select2-container .select2-choices .select2-search-field input {
  padding-left: 7px;
  padding-top: 3px;
}

.input-group .select2-choices {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
