.field_with_errors {
  input {
    border-color: red;
  }
}

#error_explanation {
  padding: 0.5em 0 0.5em 0.5em;
  margin-bottom: 2em;
  border: 1px solid #faddd7;
  background-color: #fdf0f5;
  @include border-radius(4px);

  ul {
    margin: 0;
    list-style-position: inside;
    li { color: black; }
  }
}
