<div class="performance">
  <h3 class="remove-top-margin add-bottom-margin">Performance</h3>
  <ul class="list-group add-big-bottom-margin">
    <li class="list-group-item">
      <%= link_to summary_site_hits_path(@site) do %>
        <h4 class="list-group-item-heading">Analytics</h4>
      <% end %>
      <p class="list-group-item-text text-muted">
        Graphs and tables charting
        <abbr data-original-title="Resources served from the website including pages, images and file downloads."
              data-toggle="tooltip" title="">hits</abbr>
        to www.attorneygeneral.gov.uk. Use analytics to see how many users
        are visiting old URLs and what proportion of them are being
        redirected, seeing archives or finding errors.
      </p>
    </li>
  </ul>
</div>
