<div class="panel panel-default">
  <h3 class="panel-heading remove-top-margin">Tools</h3>
  <div class="panel-body">
    <h4 class="remove-top-margin">Side by side browser</h4>
    <p>
      Browse <i><%= site.default_host.hostname %></i> in the left panel, and, as you navigate, preview redirections and archives in the right panel.
    </p>
    <ul>
      <li>
        <a href="http://<%= site.default_host.hostname %>.side-by-side.alphagov.co.uk/__/#/">Open side by side browser</a>
      </li>
    </ul>
    <hr />
    <h4 class="remove-top-margin">Preview redirections</h4>
    <p>
      To test a redirection for a pre-transition website:
    </p>
    <ul>
      <li>Drag this bookmarklet to your bookmarks bar</li>
      <li>Visit a page on any transitioning site</li>
      <li>Click the bookmarklet to preview the redirect</li>
    </ul>
    <a class="btn btn-default bookmarklet" title="Drag me to your bookmarks bar" data-toggle="tooltip" href="javascript:location%3Dlocation.href.replace(/:%5C/%5C//, '://aka-').replace(/-*www/,'')">Preview redirect</a>
    <hr />
    <h4 class="add-top-margin">National Archives checker</h4>
    <p>
      To see if a page is in The National Archives:<br />
    </p>
    <ul>
      <li>Drag this bookmarklet to your bookmarks bar</li>
      <li>Visit a page on any transitioning site</li>
      <li>Click the bookmarklet to see available archives</li>
    </ul>
    <a class="btn btn-default bookmarklet" title="Drag me to your bookmarks bar" href="javascript:location%3Dlocation.href.replace(/%5E/,'http://webarchive.nationalarchives.gov.uk/*/')">Check archives</a>
  </div>
</div>
