<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb :edit_site, @site %>

<div class="page-title-with-border">
  <h1>
    <small><%= @site.default_host.hostname %></small>
    <br />
    Edit transition date
  </h1>
</div>

<%= render partial: 'form' %>
